*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(129, 209, 194);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 10vmin;
    color: black;
    background-color: aqua;
    border: none;
    border-radius:15px;

}
#rst{
    padding: 1rem ;
    font-size: x-large;
    font-style: oblique;
    border: none;
    border-radius: 20px;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#nwbtn{
    padding: 1rem ;
    font-size: x-large;
    font-style: oblique;
    border: none;
    border-radius: 20px;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#msg{
    font-size: 5vmin;
}
.msg_cont{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
